/* Nicolás Guerbartchouk Pérez UO293912 */

/*  Especificidad: 0,0,3 */
  section section h3 {
    margin: 0 0 1rem;
    font-size: 1.5rem; /* Tamaño de fuente relativo */
  }
  
  /*  Especificidad: 0,0,3 */
  section section p {
    margin: 0.5rem 0;
    font-size: 1rem; /* Un tamaño de fuente legible */
  }
  
  /*  Especificidad: 0,0,1 */
  button {
    margin-left: auto;
    margin-right: auto;
  }
 
  
 
  