/* Nicolás Guerbartchouk Pérez UO293912 */

/* Establecer la tipografía general en el body */
/* Selector de tipo elemento - Especificidad: 0,0,1 */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem; /* Igual a 16px por defecto */
    line-height: 1.5;
    background-color: #f7f3e7; /* Beige claro como fondo general */
    color: #000000; /* Color de texto negro */
}

/* Estilos para el header */
/* Selector de tipo elemento - Especificidad: 0,0,1 */
header {
    background-color: #e7ded9; /* Cream para el header */
    /* color: #000000; Heredado de body */
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1); /* Sombra sutil */
    border: 0.2em solid #4E4541; /* Borde en Taupe relativo */
}

/* Estilos para el título principal */
/* Selector de tipo elemento - Especificidad: 0,0,1 */
h1 {
    font-size: 3rem; /* Tamaño del título principal relativo */
}

/*Sobreescribir ajustes de a*/
/*Especificidad del selector 0,0,2*/
h1 a{
    color: #000000; /*Sobreescribe el color de a*/
    /* background-color: #E7DED9 heredado de header */
    text-decoration: none; /* Sin subrayado */
}

/*Sobreescribir ajustes de a*/
/*Especificidad del selector 0,1,2*/
h1 a:hover {
    text-decoration: none; /* Sin subrayado al pasar el mouse */
    color: inherit; /* Hereda el color del h1, evitando el cambio de color */
    /* background-color: #E7DED9 heredado de header*/
}

/*Sobreescribir ajustes de a*/
/*Especificidad del selector 0,1,2*/
h1 a:focus {
    outline: none; /* Sin borde de enfoque */
}



/* Estilos para los enlaces del header al pasar el mouse */
/* Especificidad: 0,1,3 */
header nav a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
    color: #6C1E62; /* Black violet al pasar el mouse */
    /* background-color: #E7DED9 heredado de header*/
}

/* Estilos para los enlaces del header al activarlos */
/* Especificidad: 0,1,3 */
header nav a.active{
    color: #891E06; /* Color diferente para el enlace activo */
    /* background-color: #E7DED9 heredado de header*/
    text-decoration: underline; /* Subrayado al ser el lugar seleccionado */
}

/* Estilos para la miga de navegación */
/* Especificidad: 0,0,2 */
header + p {
    font-size: 0.8rem; /* Usar rem para tamaño de fuente relativo */
}

/* Estilos para el main */
/* Especificidad: 0,0,1 */
main {
    background-color: #ffffff; /* Color de fondo blanco */
    /* color: #000000 heredado de body */
    border: 0.2em solid #625550; /* Borde en Taupe relativo */
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1); /* Sombra más notable */
}

/* Estilos para las secciones dentro de main */
/* Especificidad: 0,0,2 */
main section {
    border: 0.2em solid #4E4541; /* Borde en Taupe relativo */
    background-color: #e7ded9; /* Cream como fondo de las secciones */
    /* color: #000000 heredado de main */
}  

/* Estilos para el aside */
/* Especificidad: 0,0,1 */
aside {
    background-color: #ffffff; /* Color de fondo blanco */
    /* color: #000000 heredado de body*/
    border: 0.2em solid #625550; /* Borde en Taupe relativo */
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilos para el aside section */
/* Especificidad: 0,0,2 */
aside section{
    border: 0.2em solid #4E4541; /* Borde en Taupe relativo */
}

/* Estilos para h2 */
/* Especificidad: 0,0,1 */
h2 {
    font-size: 2.2rem; /* Tamaño de fuente adaptable */
}

/* Estilos para h3 dentro de main */
/* Especificidad: 0,0,1 */
h3 {
    font-size: 1.5rem; /* Tamaño de fuente adaptable */
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.1); /* Sombra sutil */
}


/* Estilos para los párrafos */
/* Especificidad: 0,0,1 */
p {
    font-size: 1rem; /* Tamaño de fuente adaptable */
}

/* Estilos para listas no ordenadas */
/* Especificidad: 0,0,1 */
ul {
    list-style-type: square; /* Cambiar el tipo de viñeta a cuadrada */
    font-size: 1.2rem; /* Tamaño de fuente más grande */
}

/* Estilos para listas ordenadas */
/* Especificidad: 0,0,1 */
ol {
    list-style-type: lower-roman; /* Cambiar a numeros romanos (i, ii, iii...) */
    font-size: 1.2rem; /* Tamaño de fuente más grande */
}


/* Estilos para listas no ordenadas anidadas con listas ordenadas*/
/* Especificidad: 0,0,2 */
ul ol{
    color: #2B2B2B;
    /* background-color: #E7DED9 heredado de ul*/
}


/* Estilos para listas no ordenadas anidadas con listas ordenadas anidadas con listas no ordenadas */
/* Especificidad: 0,0,3 */
ul ol ul {
    list-style-type: circle; /* Cambiar a circulos */
    color: #244A4C;
    /* background-color: #E7DED9 heredado de ul ol*/
}

/* Estilo general para la lista de definiciones */
/* Especificidad: 0,0,1 */
dl {
    border: 0.2em solid #4E4541; /* Borde alrededor de la lista */
}

/* Estilo para los términos (dt) */
/* Especificidad: 0,0,2 */
dl dt {
    font-weight: bold; /* Negrita */
    color: #1a73e8; /* Color azul para los términos */
    background-color: #e8f0fe; /* Fondo azul claro */
    border: 0.2em  solid #1a73e8; /* Borde azul */
}

/* Estilo para las definiciones (dd) */
/* Especificidad: 0,0,2 */
dl dd {
    font-size: 1rem; /* Tamaño de fuente normal */
    color: #333; /* Color del texto */
    /* background-color: #ffffff heredado de dl*/
}



/* Estilo para mejorar la accesibilidad */
/* Especificidad: 0,0,2 */
dd::before {
    content: "Definición: "; /* Texto antes de la definición */
    font-weight: bold; /* Negrita para el prefijo */
    color: #000; /* Color negro para el prefijo */
    /* background-color: #ffffff heredado de dl*/
}


/* Estilos para las celdas de la tabla */
/* Especificidad: 0,0,1*/
th, td {
    border: 0.1rem solid #000000; /* Borde de las celdas relativo */
}

/* Estilos para los encabezados de columna */
/* Especificidad: 0,1,2*/
thead th[scope="col"] {
    background-color: #0056B3; /* Color de fondo azul para encabezados de columna */
    color: white; /* Color de texto blanco */
    font-weight: bold; /* Negrita para el texto */
}

/* Estilos para los encabezados de fila */
/* Especificidad: 0,1,1*/
th[scope="row"] {
    background-color: #f2f2f2; /* Fondo gris claro para encabezados de fila */
    color: #333; /* Color de texto normal */
    font-weight: bold; /* Peso normal para el texto */
}

/* Color alternativo para las filas impares */
/* Especificidad: 0,1,2*/
tbody tr:nth-child(odd) {
    background-color: #e0f7fa; /* Color de fondo para filas impares */
    /* color: #333 heredado de th[scope="row"] para los th y #000 de td para los td*/
}

/* Color alternativo para las filas pares*/
/* Especificidad: 0,1,2*/
tbody tr:nth-child(even) {
    background-color: #fff3e0; /* Color de fondo para filas pares */
    /* color: #333 heredado de th[scope="row"] para los th y #000 de td para los td*/
}

/* Estilos para la fila total */
/* Especificidad: 0,1,2*/
tbody tr:last-child {
    background-color: #006156; /* Color de fondo verde más oscuro para la fila total */
    color: #ffffff; /* Color de texto blanco para mayor contraste */
    font-weight: bold; /* Negrita para resaltar el texto */
}

/* Para asegurar que las celdas de la fila total también tengan un buen padding */
/* Especificidad: 0,1,3*/
tbody tr:last-child th{
    font-size:1.6rem;
}


/* Estilos para el caption de la tabla */
/* Especificidad: 0,0,1 */
caption {
    caption-side: top;
    font-weight: bold;
}


/* Estilos para los enlaces */
/* Especificidad: 0,0,1 */
a {
    color: #0707ac; /* Teal para los enlaces */
    /* background-color: #E7DED9 o #f7f3e7 heredado de nav o p*/
    text-decoration: none;
    font-weight: bold;
}

/* Estilos para los enlaces al pasar el mouse */
/* Especificidad: 0,1,1 */
a:hover {
    text-decoration: underline;
    color: #044B4E; /* Blue Green al pasar el mouse */
    /* background-color: #E7DED9 o #f7f3e7 heredado de a*/
}

/* Estilos para enlaces externos */
/* Especificidad: 0,1,1 */
a[href^="http"], a[href^="https"] {
    color: blue;
    /* background-color: #E7DED9 o #f7f3e7 heredado de a*/
}

/* Estilos para enlaces externos al pasar el mouse */
/* Especificidad: 0,2,1 */
a[href^="http"]:hover, a[href^="https"]:hover {
    color: #005200;
    /* background-color: #E7DED9 o #f7f3e7 heredado de a*/
}

/* Estilos para enlaces externos activos */
/* Especificidad: 0,2,1 */
a[href^="http"]:active, a[href^="https"]:active {
    color: #940000;
    /* background-color: #E7DED9 o #f7f3e7 heredado de a*/
}





























