/* Nicolás Guerbartchouk Pérez UO293912 */


/*  Especificidad: 0,0,1 */
body {
    margin: 1.25em; /* Usar em para márgenes adaptables */
    padding: 0em;
}

/*  Especificidad: 0,0,1 */
header {
    display: flex; /* Activa Flexbox en el contenedor */
    justify-content: space-between; /* Distribuye los elementos a ambos extremos */
    align-items: center; /* Alinea verticalmente los elementos al centro */
    padding: 1.5em; /* Espaciado interno adaptable */
    border-radius: 0.5em; /* Esquinas redondeadas relativas */
}

/* Estilos para los enlaces del header*/
/* Especificidad: 0,0,3 */
header nav a {
    margin: 0 1em; /* Espaciado relativo entre enlaces */
}

/* Estilos para el main */
/* Especificidad: 0,0,1 */
main {
    padding: 2rem; /* Usar rem para espaciado adaptable */
    border-radius: 0.5em; /* Esquinas redondeadas relativas */
    margin-bottom: 2em; /* Espaciado inferior adaptable */
}

/* Estilos para las secciones dentro de main */
/* Especificidad: 0,0,2 */
main section {
    margin-bottom: 2em; /* Espaciado inferior adaptable */
    padding: 1.5rem; /* Espaciado interno adaptable */
    border-radius: 0.5em; /* Esquinas redondeadas relativas */
}  

/* Estilos para el aside */
/* Especificidad: 0,0,1 */
aside {
    padding: 1.5rem; /* Espaciado adaptable */
    margin: 2rem 0; /* Margen adaptable */
    border-radius: 0.5em; /* Esquinas redondeadas relativas */
    width: 100%; /* Asegura que el aside ocupe el 100% del ancho */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
}

/* Estilos para el aside section */
/* Especificidad: 0,0,2 */
aside section{
    margin-bottom: 2em; /* Espaciado inferior adaptable */
    padding: 1.5rem; /* Espaciado interno adaptable */
    border-radius: 0.5em; /* Esquinas redondeadas relativas */
}


/*  Especificidad: 0,0,1 */
h1{
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    margin-right: 1rem;
    text-align: center;
    margin-top: 0.35em; /* Margen superior */
    margin-bottom: 0.35em; /* Margen inferior */
    border-radius: 0.17em; /* Esquinas redondeadas relativas */
}

/* Estilos para h2 */
/* Especificidad: 0,0,1 */
h2 {
    margin-bottom: 0.5rem; /* Espaciado inferior adaptable */
}

/* Estilos para h3 dentro de main */
/* Especificidad: 0,0,1 */
h3 {
    margin: 0.5em 0 1em; /* Margen adaptable */
    padding: 0.8em; /* Espaciado interno adaptable */
    border-radius: 0.5em; /* Esquinas redondeadas relativas */
}

h4{
    margin-bottom: 0.5rem;
}

/* Estilos para los párrafos */
/* Especificidad: 0,0,1 */
p {
    margin-bottom: 1rem; /* Margen inferior adaptable */
}

/* Estilos para listas no ordenadas */
/* Especificidad: 0,0,1 */
ul {
    padding-left: 1.5em; /* Espacio a la izquierda */
    margin-bottom: 1em; /* Espacio inferior */
}

/* Estilos para listas ordenadas */
/* Especificidad: 0,0,1 */
ol {
    padding-left: 1.5em; /* Espacio a la izquierda */
    margin-bottom: 1em;
}

/* Estilos para elementos de listas */
/* Especificidad: 0,0,1 */
li {
    margin: 0.5em;
}


/* Estilos para listas no ordenadas anidadas con listas ordenadas*/
/* Especificidad: 0,0,2 */
ul ol{
    margin-bottom: 0.3em; /* Espacio entre elementos anidados */
}


/* Estilos para listas no ordenadas anidadas con listas ordenadas anidadas con listas no ordenadas */
/* Especificidad: 0,0,3 */
ul ol ul {
    margin-bottom: 0.3em; /* Espacio entre elementos anidados */
}

/* Estilo general para la lista de definiciones */
/* Especificidad: 0,0,1 */
dl {
    margin: 1em 0; /* Margen superior e inferior */
    padding: 1em; /* Padding general */
    border-radius: 0.5em; /* Bordes redondeados */
}

/* Estilo para los términos (dt) */
/* Especificidad: 0,0,2 */
dl dt {
    padding: 0.5em; /* Padding interno */
    border-radius: 0.3em; /* Bordes redondeados */
    margin: 0.5em 0; /* Margen superior e inferior */
}

/* Estilo para las definiciones (dd) */
/* Especificidad: 0,0,2 */
dl dd {
    margin-left: 1.5em; /* Sangría para las definiciones */
    margin-bottom: 0.5em; /* Margen inferior */
}



/* Estilo para mejorar la accesibilidad */
/* Especificidad: 0,0,2 */
dd::before {
    content: "Definición: "; /* Texto antes de la definición */
}


/* Estilos para las tablas */
/* Especificidad: 0,0,1 */
table {
    width: 100%; /* Asegura que la tabla ocupe el 100% del ancho */
    border-collapse: collapse; /* Colapsa bordes de las celdas */
    margin-bottom: 2rem; /* Espaciado inferior adaptable */
    table-layout: fixed; /* Permite que la tabla ajuste su tamaño según su contenido */
}


/* Estilos para las celdas de la tabla */
/* Especificidad: 0,0,1*/
th, td {
    padding: 0.8em; /* Espaciado interno adaptable */
    text-align: center; /* Alineación del texto */
    word-wrap: break-word; /* Permite que el texto largo se divida en la celda */
}

/* Estilos para los encabezados de columna */
/* Especificidad: 0,1,2*/
thead th[scope="col"] {
    padding: 1rem; /* Padding para un mejor espaciado */
}

/* Estilos para los encabezados de fila */
/* Especificidad: 0,1,1*/
th[scope="row"] {
    padding: 0.8rem; /* Padding para un mejor espaciado */
}


/* Para asegurar que las celdas de la fila total también tengan un buen padding */
/* Especificidad: 0,1,3*/
tbody tr:last-child th{
    padding: 1rem; /* Padding para un mejor espaciado */
}

/* Para asegurar que las celdas de la fila total también tengan un buen padding */
/* Especificidad: 0,1,3*/
tbody tr:last-child td {
    padding: 1rem; /* Padding para un mejor espaciado */
}


/* Estilos para el caption de la tabla */
/* Especificidad: 0,0,1 */
caption {
    caption-side: top;
    margin-bottom: 1em; /* Espaciado inferior adaptable */
}


/* Video responsivo */
/* Especificidad: 0,0,1 */
video {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto; /* Ajuste automático según el ancho */
}

/* Img responsiva */
/* Especificidad: 0,0,1 */
img{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto; /* Ajuste automático según el ancho */
}

/* Audio responsiva */
/* Especificidad: 0,0,1 */
audio{
    width:100%;
}


/* Responsividad: ajustes en dispositivos más pequeños */
@media (max-width: 767px) {
    /*  Especificidad: 0,0,1 */
    header {
        flex-direction: column; /* Cambia a una columna en pantallas pequeñas */
        align-items: flex-start; /* Alinea los elementos al inicio */
        /*Redefinicion de align-items, antes "center" */
    }

    /*  Especificidad: 0,0,1 */
    h1{
        white-space: wrap; /* Evita que el texto se divida en múltiples líneas */
        /*Redefinicion de white-space, antes "nowrap */
    }

    /*  Especificidad: 0,0,2 */
    header nav {
        margin-top: 1rem; /* Espacio superior para la navegación */
        width: 100%; /* Asegura que la navegación ocupe todo el ancho */
    }

    /*  Especificidad: 0,0,3 */
    header nav ul {
        flex-direction: column; /* Cambia a una columna en pantallas pequeñas */
        align-items: flex-start; /* Alinea los enlaces al inicio */
    }

    /*  Especificidad: 0,0,3 */
    header nav ul li {
        margin-right: 0; /* Elimina el margen derecho en enlaces */
        margin-bottom: 0.5rem; /* Añade espacio inferior entre enlaces */
    }
}
